@model List<PersonasDTO>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Inventario</li>
            <li class="breadcrumb-item text-primary">Persona</li>
        </ol>
    </div>
    <div class="d-flex justify-content-between align-items-center ms-auto">
        <!-- Search Form Section -->
        <form method="get" asp-controller="Personas" asp-action="Index">
            <div class="input-group mb-0">
                <input type="number" name="buscaid" class="form-control" placeholder="Buscar..." />
                <button class="btn btn-primary" type="submit">
                    <i class="mdi mdi-account-search" style="font-size:18px" aria-hidden="true"></i>
                </button>
            </div>
        </form>

        <!-- Add Button Section -->
        <button class="btn btn-primary mb-0 ms-2" type="button" onclick="detellePersonas('', 0, '')">
            <i class="mdi mdi-account-multiple-plus" style="font-size: 18px" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="table-responsive">
    <div class="card custom-card">
        <div class="card-body">
            <table class="table table-bordered text-nowrap key-buttons border-bottom w-100 dataTable no-footer dtr-inline">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Área</th>
                        <th>Identificación</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            @* <td>@i.UserId</td> *@
                            <td>@i.UserName</td>
                            @* <td>@i.IdArea</td> *@
                            <td>@i.AreaName</td>
                            <td>@i.Identificacion</td>
                             <td class="text-center">
                                @if (i.Estado)
                                {
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color:#13e20c; font-size: 16px;"></i>

                                }
                                else
                                {
                                    <i class="fa fa-times-circle" aria-hidden="true" style="color:#f20b0b; font-size: 16px;"></i>
                                }
                            </td> 
                            <td class="text-center">
                                <button class="btn btn-primary" onclick="mostrarDetalle('@i.Id','@i.UserName','@i.AreaName', '@i.Identificacion', '@i.Estado')" type="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>

                                </button>

                                <button class="btn btn-warning" onclick="detellePersonas('actualizar', '@i.Id', '@i.UserId', '@i.IdArea', '@i.Identificacion', '@i.Estado')" type="button">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger" onclick="EliminarArea('@i.Id')" type="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .table td:last-child {
        white-space: nowrap;
        width: 1%;
        text-align: center;
    }
    .full-width-select {
        width: 100%;
    }
</style>

<div class="modal fade" id="dialog1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vista de Información</h5>
                <button type="button" class=" fa fa-times btn-close" style="font-size: 20px" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Área</th>
                                <th>Identificación</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.Id</td>
                                    @* <td>@i.UserId</td> *@
                                    <td>@i.UserName</td>
                                    @* <td>@i.IdArea</td> *@
                                    <td>@i.AreaName</td>
                                    <td>@i.Identificacion</td>
                                    <td class="text-center">

                                        @if (i.Estado)
                                        {
                                            @* <i class="fa-regular fa-circle-check" style="color: #20e212;"></i> *@
                                            <i class="fa fa-times-circle-o fa-2x" style="color: #e60f0f;"></i>

                                        }
                                        else
                                        {
                                            @* <i class="fa-solid fa-circle-xmark" style="color: #e60f0f;"></i> *@
                                            <i class="fa fa-times-circle-o fa-2x" style="color: #e60f0f;"></i>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Bootstrap -->
<div class="modal fade" id="detellePersonas-modal" tabindex="-1" aria-labelledby="titelid-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titelid-modal">Registro de datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" asp-controller="Personas" asp-action="InsertUpdate" id="from-usuarios">
                        <input type="hidden" id="recordId" name="id" value="" />
                        <div class="mb-3">
                            <label for="userId" class="form-label">Selecciona el usuario</label>
                            <select id="userId" name="userId" required class="form-control select2-show-search form-select">
                                <option value="">Selecciona</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="idArea" class="form-label">Selecciona la área</label>
                            <select id="idArea" name="idArea" required class="form-control select2-show-search form-select">
                                <option value="">Selecciona</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="identificacion" class="form-label">Ingresa una identificación</label>
                            <input class="form-control" type="text" id="identificacion" name="identificacion" required />
                        </div>
                        <div class="mb-3">
                            <label for="estado" class="form-label">Estado </label>
                            <input type="checkbox" id="estado" name="Estado" value="true" />
                        </div>
                        <div class="d-flex flex-row justify-content-end mt-2">
                            <button class="btn btn-danger ms-2" id="cerrar" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary ms-2" id="guardar" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts {
    <script src="\assets\js\Persona\Persona.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- jQuery UI Date Picker js -->
    <script src="~/assets/plugins/date-picker/jquery-ui.js"></script>

    <!-- bootstrap-datepicker js (Date picker Style-01) -->
    <script src="~/assets/plugins/bootstrap-datepicker/js/datepicker.js"></script>

    <!-- Amaze UI Date Picker js-->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- Simple Date Time Picker js-->
    <script src="~/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>

    <!-- SELECT2 JS -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!-- BOOTSTRAP MAX-LENGTH JS -->
    <script src="~/assets/plugins/bootstrap-maxlength/dist/bootstrap-maxlength.min.js"></script>

    <!--Internal Fileuploads js-->
    <script src="~/assets/plugins/fileuploads/js/fileupload.js"></script>
    <script src="~/assets/plugins/fileuploads/js/file-upload.js"></script>

    <!--Internal Fancy uploader js-->
    <script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

    <!-- FORM ELEMENTADVANCED JS -->
    <script src="~/assets/js/formelementadvnced.js" asp-append-version="true"></script>
}
   @*  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> *@







