@model List<MarcaDTO>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Inventario</li>
            <li class="breadcrumb-item text-primary">Marca</li>
        </ol>
    </div>
    <div>
        <button class="btn btn-primary" type="button" onclick="mostrarFormulario('registrar', '', '')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="table-responsive">
    <div class="card custom-card">
        <div class="card-body">
            <table class="table table-bordered text-nowrap key-buttons border-bottom w-100 dataTable no-footer dtr-inline">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Nombre</td>
                            <td class="text-center">
                                @if (i.Activo)
                                {
                                    <i class="fa fa-check-circle" aria-hidden="true" style="color:#13e20c; font-size: 15px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-times-circle" aria-hidden="true" style="color:#13e20c; font-size: 15px;"></i>
                                }
                            </td>
                            <td class="text-center">
                                <button class="btn btn-primary" onclick="mostrarDetalle('@i.Id', '@i.Nombre', '@i.Activo')" type="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-warning" onclick="mostrarFormulario('actualizar', '@i.Id', '@i.Nombre', '@i.Activo')" type="button">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger" onclick="EliminarArea('@i.Id')" type="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .table td:last-child {
        white-space: nowrap;
        width: 1%;
        text-align: center;
    }

    .full-width-select {
        width: 100%;
    }
</style>

<div class="modal fade" id="dialog1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vista de Información</h5>
                <button type="button" class=" fa fa-times btn-close" style="font-size: 20px" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.Id</td>
                                    <td>@i.Nombre</td>
                                    <td>@i.Activo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Bootstrap -->
<div class="modal fade" id="detelle-modal" tabindex="-1" aria-labelledby="titelid-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titelid-modal">Registro de datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" asp-controller="Marca" asp-action="InsertUpdate" id="from-usuarios">
                        <input type="hidden" id="recordId" name="Id" value="" />
                        <div class="mb-3">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input class="form-control" type="text" id="Nombre" name="Nombre" required />
                        </div>
                        <div class="mb-3">
                            <label for="Activo" class="form-label">Estado</label>
                            <input type="checkbox" id="Activo" name="Activo" value="true" />
                        </div>
                        <div class="d-flex flex-row justify-content-end mt-2">
                            <button class="btn btn-danger ms-2" id="cerrar" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary ms-2" id="guardar" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





@section scripts {
    <script src="\assets\js\Marca\Marca.js" asp-append-version="true"></script>
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">







