@model List<FacturacionTMKDTO>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Inventario</li>
            <li class="breadcrumb-item text-primary">Facturación TMK</li>
        </ol>
    </div>
    <div>
        <button class="btn btn-primary" type="button" onclick="detelleFacturacion('registrar', '', '', '', '','')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>

<div class="table-responsive">
    <div class="card custom-card">
        <div class="card-body">
            <table class="table table-bordered text-nowrap key-buttons border-bottom w-100 dataTable no-footer dtr-inline">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Valor Neto</th>
                        <th>Ensamble</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                        <th class="text-center">Acción</th>
                    </tr>       
                </thead>

                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.VlrNeto</td>
                            <td>@i.IdEnsamble</td>
                            <td>@i.Descripcion</td>
                            <td>@i.Fecha</td>
                            <td>
                                <button class="btn btn-primary" onclick="mostrarDetalle('@i.Id', '@i.VlrNeto', '@i.IdEnsamble', '@i.Descripcion', '@i.Fecha')" type="button">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-warning" onclick="detelleFacturacion('actualizar', '@i.Id', '@i.VlrNeto', '@i.IdEnsamble', '@i.Descripcion', '@i.Fecha')" type="button">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-danger" onclick="EliminarFactura(@i.Id)" type="button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
 </div>
<style>
    .table td:last-child {
        white-space: nowrap;
        width: 1%;
        text-align: center;
    }
</style>
<div class="modal fade" id="dialog1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vista de Información</h5>
                <button type="button" class=" fa fa-times btn-close" style="font-size: 20px" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>VlrNeto</th>
                                <th>IdEnsamble</th>
                                <th>Descripcion</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model)
                            {
                                <tr>
                                    <td>@i.Id</td>
                                    <td>@i.VlrNeto</td> 
                                    <td>@i.IdEnsamble</td>
                                    <td>@i.Descripcion</td>
                                    <td>@i.Fecha</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detelleFacturacion-modal" tabindex="-1" aria-labelledby="titelid-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titelid-modal">Registro de datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" asp-controller="FacturacionTMK" asp-action="InsertUpdate" id="from-usuarios">
                        <input type="hidden" id="recordId" name="id" value="" />
                        <!-- Valor Neto -->
                        <div class="mb-3">
                            <label for="VlrNeto" class="form-label">Valor Neto</label>
                            <input class="form-control" type="text" id="VlrNeto" name="VlrNeto" required />
                        </div>
                        <!-- Ensamble -->
                        <div class="mb-3">
                            <label for="IdEnsamble" class="form-label">Ensamble</label>
                            <select id="IdEnsamble" name="IdEnsamble" required class="form-control select2-show-search form-select">
                                <option value="">Selecciona</option>
                                <!-- Aquí se deberían cargar las opciones dinámicamente -->
                            </select>
                        </div>
                        <!-- Descripción -->
                        <div class="mb-3">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <input class="form-control" type="text" id="Descripcion" name="Descripcion" required />
                        </div>
                        <!-- Fecha (con validación de formato) -->
                        <div class="mb-3">
                            <label for="Fecha" class="form-label">Selecciona la fecha</label>
                            <input type="date" class="form-control" id="Fecha" name="Fecha" required />
                        </div>
                        <!-- Botones -->
                        <div class="d-flex flex-row justify-content-end mt-2">
                            <button class="btn btn-danger ms-2" id="cerrar" type="button" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-primary ms-2" id="guardar" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="\assets\js\helpdesk\FacturacionTMK\FacturacionTMK.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!-- jQuery UI Date Picker js -->
    <script src="~/assets/plugins/date-picker/jquery-ui.js"></script>

    <!-- bootstrap-datepicker js (Date picker Style-01) -->
    <script src="~/assets/plugins/bootstrap-datepicker/js/datepicker.js"></script>

    <!-- Amaze UI Date Picker js-->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- Simple Date Time Picker js-->
    <script src="~/assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js"></script>

    <!-- SELECT2 JS -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>

    <!-- BOOTSTRAP MAX-LENGTH JS -->
    <script src="~/assets/plugins/bootstrap-maxlength/dist/bootstrap-maxlength.min.js"></script>

    <!--Internal Fileuploads js-->
    <script src="~/assets/plugins/fileuploads/js/fileupload.js"></script>
    <script src="~/assets/plugins/fileuploads/js/file-upload.js"></script>

    <!--Internal Fancy uploader js-->
    <script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

    <!-- FORM ELEMENTADVANCED JS -->
    <script src="~/assets/js/formelementadvnced.js" asp-append-version="true"></script>
}



