@* @model List<CentroDeCostoDTO> *@
@model CentroCosto

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<div class="d-flex justify-content-between align-items-center">
    <!-- Título -->
    <div>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Inventario</li>
            <li class="breadcrumb-item text-primary">Centro de costos</li>
        </ol>
    </div>
    <button class="btn btn-primary" id="preview-pdf-btn" type="button">
        Previsualizar PDF
    </button>
</div>
<div class="row">
    @if (Model != null && Model.EquiposSolos != null && Model.EquiposSolos.Count > 0)
    {
        var groupedModel = Model.EquiposSolos.GroupBy(item => item.Area);
        @foreach (var group in groupedModel)
        {
            <div class="col-12">
                <div class="card custom-card">
                    <div class="card-body" style="padding: 0rem;">
                        <div class="text-center mt-4">
                            <h1>@group.Key</h1> <!-- Nombre área -->
                        </div>
                        <div class="table-responsive">
                            <div class="card-body">
                                <table class="table text-nowrap text-md-nowrap table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tipo de elemento</th>
                                            <th>Número de serial</th>
                                            <th>Valor unitario</th>
                                            <th>Valor del IVA</th>
                                            <th>Valor en Bruto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in group)
                                        {
                                            <tr>
                                                <td>@item.Marca</td>
                                                <td>@item.NumeroSerial</td>
                                                <td>@($"$ {item.VlrNeto}")</td>
                                                <td>19%</td>
                                                <td>@($"$ {item.VlrNeto}")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {

        <div class="col-12">
            <div class="card custom-card">
                <div class="card-body" style="padding: 0rem;">
                    <div class="text-center mt-4">
                        <h1>No existen registros</h1> <!-- Nombre área -->
                    </div>
                    <div class="table-responsive">
                        <div class="card-body">
                            <h1>No existen registros</h1> <!-- Nombre área -->

                            @* <table class="table text-nowrap text-md-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tipo de elemento</th>
                                        <th>Número de serial</th>
                                        <th>Valor unitario</th>
                                        <th>Valor del IVA</th>
                                        <th>Valor en Bruto</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
<div class="row">
    <div class="d-flex flex-row-reverse">
        <div class="col-3">
            <div class="card custom-card">
                <div class="card-body" style="padding: 0rem;">
                    <div class="text-center">
                        <h1>Resumen</h1>
                    </div>
                    <div class="table-responsive">

                        @if (Model != null && Model.EquiposSolos != null && Model.ValorPorArea.Count > 0 || Model != null && Model.EquiposSolos != null && Model.TotalGeneral.Count > 0)
                        {
                            <table class="table text-nowrap text-md-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th>Area</th>
                                        <th>Total Equipos</th>
                                        <th>Total Area</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.EquiposSolos != null && Model.ValorPorArea.Count > 0)
                                    {
                                        @foreach ( var item in Model.ValorPorArea){
                                            <tr>
                                                <td>@item.NombreArea</td>
                                                <td>@item.TotalEquipos</td>
                                                <td>@($"$ {item.AreaVlrNeto}")</td>
                                            </tr>
                                        }
                                    }
                                </tbody> 
                                <tbody>
                                    @if (Model != null && Model.EquiposSolos != null && Model.TotalGeneral.Count > 0)
                                    {
                                        @foreach (var item in Model.TotalGeneral)
                                        {
                                            <tr>
                                                <td>Total a pagar</td>
                                                <td></td>
                                                <td>@($"$ {item.TotalVlrNeto}")</td>
                                            </tr>
                                        }
                                    }
                                </tbody> 
                            </table>
                        }
                        else{
                            <h1>No existen registros</h1> <!-- Nombre área -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Diseño oculto pero usado en el PDF -->
<div id="content-to-pdf" style="display: none;">
    <div class="container">
        <div class="header text-center">
            <h1>Factura centro de costos</h1>
            @if (Model != null && Model.EquiposSolos != null && Model.ValorPorArea.Count > 0)
            {
                @foreach (var i in Model.ValorPorArea)
            {
                <p class="subtitle">@i.Factura</p>
                <p class="subtitle">@i.Fecha</p>
            }
            }
            else
            {
                <h1>No existen registros</h1> <!-- Nombre área -->
            }
        </div>
        <div class="row">
            <!-- Área TI -->
            <div class="col-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="text-center mt-4">
                            <h2>Tecnología</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-nowrap text-md-nowrap table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tipo de elemento</th>
                                        <th>Número de serial</th>
                                        <th>Valor unitario</th>
                                        <th>Valor total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="totals text-end">
            <p><strong>Total Bruto:</strong> $14760</p>
            <p><strong>IVA (19 %):</strong> $0</p>
            <p><strong>Total a Pagar:</strong> $14760</p>
        </div>
    </div>
</div>
<!-- Modal para previsualización del PDF -->
<div id="pdf-preview-modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Previsualización del PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button class="btn btn-primary" id="generate-pdf2" type="button"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generar PDF</button>
            </div>
            <div class="modal-body">
                <iframe id="pdf-preview-iframe" style="width: 100%; height: 85vh; border: none;"></iframe>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="/assets/js/helpdesk/Centrocostos/Centrocostos.js" asp-append-version="true"></script>
}
<link rel="stylesheet" href="~/assets/css/estilo.css">

